.header__logo {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;

  & img {
    width: 75px;
    height: 22px;
  }
}

.header__btn {
  @include btnReset;
  width: 50px;
  height: 24px;
  padding-top: 20px;
  margin-right: 6px;
}

.header__menu-open {
  display: none;
}

.header__nav {
  width: 100%;
}

.header__list {
  @include listReset;

  width: 100%;
  margin-bottom: 0;
}

.header__link {
  display: block;
  width: 100%;

  @include font(700, 18);
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border-top: 1px solid #000000;
  box-shadow: 0px 1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15)
}

.header__download {
  margin-top: -66px;
}

.header__menu {
  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  background-color: $dark;

  &--closed {
    min-height: 66px;

    background-color: rgba(0, 0, 0, 0.3);

    .header__logo {
      padding-bottom: 0;
    }

    .header__menu-close,
    .header__nav {
      display: none;
    }

    .header__menu-open {
      display: block;
    }

    .header__btn {
      margin-right: 20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .header__logo {
    padding-top: 27px;
    padding-bottom: 39px;


    & img {
      width: 147px;
      height: 40px;
    }
  }

  .header__btn {
    padding-top: 45px;
  }

  .header__menu {
    &--closed {
      min-height: 110px;
    }
  }

  .header__download {
    margin-top: -110px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: $dark;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  @media (min-resolution: 1.5dppx) {
    .header {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .header__logo {
    padding-bottom: 38px;
    padding-left: 0;
    margin-right: 173px;
  }

  .header__nav {
    width: auto;
  }

  .header__btn {
    display: none;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-right: auto;
  }

  .header__item {
    padding-top: 10px;
    margin-right: 80px;
    margin-bottom: 10px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .header__link {
    font-weight: 400;
    text-transform: none;
    line-height: 1;

    border-top: none;
    box-shadow: none;
  }

  .header__menu {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: calc((100% - 1200px) / 2 + 130px);

    background-color: rgba(0, 0, 0, 0.3);

    &--closed {

      .header__logo {
        padding-bottom: 38px;
      }

      .header__btn {
        display: none;
      }

      .header__nav {
        display: block;
      }
    }
  }
}
