.map__container {
  width: 100%;
  height: 240px;
}

@media (min-width: $tablet-width) {
  .map__container {
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .map__container {
    height: 525px;
  }
}
